html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent body scroll */
}

.scroll-col {
  height: calc(100vh - 50px); /* Adjust based on header height */
  overflow-y: auto;
  scrollbar-width: thin;
}

header {
  height: 50px;
  z-index: 1030;
}

.badge-merah {
  background-color: #FF0000;
  color: white;
  padding: 0.35em 0.65em;
  border-radius: 0.25rem;
  font-size: 0.875em;
  font-weight: bold;
}


.btn {
  padding: 6px 10px;
  font-size: 13px;
}

.form-control {
  font-size: 13px;
}

#postingDuration,
#minDelayPerComment,
#maxDelayPerComment {
  max-width: 140px;
}

.badge {
  font-size: 11px;
  padding: 4px 6px;
}